/*

# Backbone Boilerplate

*/

/*
### Third Party
*/
@import url("bootstrap.css");

/* link style for navbar and article title */
A:link, A:visited 
	{font-weight: bold; color: #000; text-decoration; }
A:active  
	{font-weight: bold; color: red; text-decoration: underline; }
A:hover  
	{font-weight: bold; color: blue; text-decoration: underline;}

div.topmost {
	margin: 10px 20px;
}

/* article's layout */
.news-item {
	padding: 10px;
}

/* article's logo ex) naver, daum, nate */
.news-item .news-title img {
	height : 12px;
}

.news-item .news-title {
	font-size  : 12pt;
	font-family: 'malgun gothic', 'dotum';
	margin     : 12px 0px 12px 0px;
}

.news-item .beple-list {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.beple-item {
	padding: 5px 6px;
}

.news-item .beple-list hr {
	border : 1px dashed #d0d0d0;
	padding: 0px 0px;
	margin : 0px 0px;
}

.beple-item img {
}

.beple-item {
	font-size  : 10pt;
	color      : #555;
	line-height: 180%; 
}

body {
}

.footer {
	font-family: 'consolas';
	text-align: center;
}

.footer .team {
	color: blue;
}


.container {
	width: 100%;
	max-width : 640px;
  margin-bottom: 150px;
}

